img{
    width: 75px; 
    text-align: center;
}
div{
   
}
p{
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left:50px;
    padding-right: 50px;
    display: flex;
    text-justify: auto;
    

}
