
body {
  font-size: 14px;
  background-size:'cover';
}

ul {
 list-style-type: none;
 text-align: end;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #050a06;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-size:'cover';
  width:100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #cbe829;
}

input {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float:left;
  margin: 140px 16px;
  border:1px solid #cccccc;
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
}
select {

  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border:1px solid #cccccc;
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
  margin: 14px 16px;
  
}
img{
  float:left;
}


