h1{
   color:#0d0d0c;

}

h2 {
   color:#BC6C25; 
}
h3{
   color:#0ba127;
}

html {
   height: 100%;
   }

body {

   height: 100%;
   }
video{
   width: 100%;
   height: 100%;
   object-fit: cover;
   padding: 0px;
   margin: 0px;

    
}
Link{
   text-decoration: none !important;
}